<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">Home</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Games</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Developers</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Charachter</a
          >
        </li>
        <!--
          <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
                MBA8
              </button>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button
                  class="dropdown-item"
                  routerLink="/"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Games
                </button>
                <button
                  class="dropdown-item"
                  routerLink="/"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Developers
                </button>
                <button
                  class="dropdown-item"
                  routerLink="/"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Charachter
                </button>
              </div>
            </div>
          </li>
          -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="register"
            [routerLinkActive]="['active']"
            [routerLink]="['/register']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="login"
            [routerLinkActive]="['active']"
            [routerLink]="['/login']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
