<!--<mat-card>-->
<!--  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">-->
<!--    <mat-form-field>-->
<!--      <input type="email" name="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email />-->
<!--      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input-->
<!--        type="password"-->
<!--        name="password"-->
<!--        ngModel-->
<!--        placeholder="Password"-->
<!--        #passwordInput="ngModel"-->
<!--        required-->
<!--      />-->
<!--      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input type="text" name="name" ngModel placeholder="Name" #NameInput="ngModel" required />-->
<!--      <mat-error *ngIf="NameInput.invalid">Name is required.</mat-error>-->
<!--    </mat-form-field>-->
<!--    <button mat-raised-button color="primary" type="submit">Signup</button>-->
<!--  </form>-->
<!--</mat-card>-->
<!--<h1 style="color: white">Hallo Hier kan je Registreren</h1>-->

<form (submit)="onSignup(signupForm)" #signupForm="ngForm" class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-2">
      <h3>Register</h3>
      <div class="form-group">
        <mat-error *ngIf="NameInput.invalid">Name is required.</mat-error>
        <input
          name="name"
          ngModel
          type="name"
          class="form-control"
          placeholder="Name *"
          #NameInput="ngModel"
          required
        />
      </div>
      <div class="form-group">
        <mat-error *ngIf="emailInput.invalid">Email is required.</mat-error>
        <input
          name="email"
          ngModel
          type="email"
          class="form-control"
          placeholder="Uw Email *"
          #emailInput="ngModel"
          required
          email
        />
      </div>
      <div class="form-group">
        <mat-error *ngIf="passwordInput.invalid">Password is required.</mat-error>
        <input
          name="password"
          type="password"
          class="form-control"
          ngModel
          placeholder="Uw Wachtwoord *"
          #passwordInput="ngModel"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btnSubmit2">Register</button>
      </div>
    </div>
  </div>
</form>
