<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h2 class="app-title">MBA8 Games</h2>
    <p>
      De casus leidt als volgt: MBA8 Games is een online platform (website) waarin je als gebruiker/ gamer
      informatie kan opzoeken over je lievelings game. MBA8 is ook bedoelt om verschillende informatie over
      games te kunnen publiceren zodat andere gebruikers/ gamer het ook kunnen zien.
    </p>
    <p>
      De gebruiker kan gemakkelijk registreren en inloggen om games toe te voegen editen of verwijderen.
      Vervolgens kan je ook als gebruiker alle opgeslagen games vinden of je kan zelf eentje zoeken door
      middel van een zoekbalk.
    </p>
    <p>
      Jij als gamer kan ook een overzicht vinden over de developer van een bepaalde game en de karakters
      daarvan, ook kan je ze toevoegen. Echter is het niet mogelijk om games te wijzigen of te verwijderen die
      niet door jou gegenereerd zijn.
    </p>
    <p>
      De volgende entiteiten worden hiervoor gebruikt. De entiteiten zullen in het engels getoond worden:
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/download.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Mouaouia Bouhtala</h5>
        <p class="card-text">
          Studentnummer: 2129074
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Entiteiten</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 1: Game</p>
    <ul>
      <li>naam: string</li>
      <li>description: string</li>
      <li>platform: string</li>
      <li>releasedate: date</li>
      <li>developer: Developer</li>
      <li>charachter: Charachter</li>
      <li>user: User</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 2: User</p>
    <ul>
      <li>email: string</li>
      <li>name: string</li>
      <li>birthdate: date</li>
      <li>password: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 3: Charachter</p>
    <ul>
      <li>naam: string</li>
      <li>gameLevel: string</li>
      <li>game: Game</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 4: Developer</p>
    <ul>
      <li>naam: string</li>
      <li>birthdate: Date</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
