mat-card {
  width: 20%;
  margin: 1rem auto;
}

mat-error {
  color: red;
}

.login-form-2 {
  padding: 9%;
  background: #002e5b;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 90px;
}

.login-form-2 h3 {
  text-align: center;
  margin-bottom: 12%;
  color: #fff;
}

.btnSubmit2 {
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
}

.btnSubmit2:hover {
  background-color: #0255a6;
  color: white;
}

.login-container {
  margin-top: 10px;
  margin-bottom: 5%;
}
