<form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-2">
      <h3>Login</h3>
      <div class="form-group">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        <input
          name="email"
          ngModel
          type="email"
          class="form-control"
          placeholder="Uw Email *"
          #emailInput="ngModel"
          required
          email
        />
      </div>
      <div class="form-group">
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        <input
          name="password"
          type="password"
          class="form-control"
          ngModel
          placeholder="Uw Wachtwoord *"
          #passwordInput="ngModel"
          required
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btnSubmit2" *ngIf="loginForm">Login</button>
      </div>
    </div>
  </div>
</form>
<!--<h1 style="color: white">Hallo Hier kan je inloggen</h1>-->
